In [2]:
import pandas as pd 
from pandas.io.json import json_normalize
import numpy as np
import matplotlib.pyplot as plt  
%matplotlib inline 
from sklearn.cluster import KMeans

#### Create a dataframe with The Neighborhood

In [3]:
df = pd.read_csv('table-1.csv')
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Check the number of rows and columns

In [5]:
df.shape

(180, 3)

#### Data wrangling
Replace all the "Not assigned" for nan values

In [57]:
df.replace("Not assigned", np.nan, inplace = True)

check how many nun values are for each column

In [53]:
dfnan = df.isnull()
for col in df.columns.values.tolist():
    print(col)
    print(dfnan[col].value_counts())
    print(" ")

Postal Code
False    180
Name: Postal Code, dtype: int64

Borough
False    103
True      77
Name: Borough, dtype: int64

Neighborhood
False    103
True      77
Name: Neighborhood, dtype: int64

Drop the rows with missing values in 'Borough'

In [65]:
df.dropna(subset = ['Borough'], inplace=True)

In [62]:
df.shape

(103, 3)

Lets check again for missing values

In [64]:
dfnan = df.isnull()
for col in df.columns.values.tolist():
    print(col)
    print(dfnan[col].value_counts())
    print(" ")

Postal Code
False    103
Name: Postal Code, dtype: int64

Borough
False    103
Name: Borough, dtype: int64

Neighborhood
False    103
Name: Neighborhood, dtype: int64

In [71]:
dfN = df.reset_index()

In [72]:
dfN

,index,Postal Code,Borough,Neighborhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...,...
98,160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,165,M4Y,Downtown Toronto,Church and Wellesley
100,168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [ ]:
Toronto neighborhood dataframe created